<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://matthewmonk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>matthewmonk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>matthewmonk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$matthewmonk</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="M2M5_fin5_1.Models.ApplicationDbContext, M2M5 fin5-1" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CustomContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="M2M5_fin5_1.Models.CustomContext, M2M5 fin5-1" MigrationConfiguration="M2M5_fin5_1.Migrations.Configuration, M2M5 fin5-1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="master" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:matthewmonk.database.windows.net,1433;Initial Catalog=matthewmonk;User ID=mrmonkcjs@matthewmonk;Password=Matttm1021;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\master_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:matthewmonk.database.windows.net,1433;Database=matthewmonk;User ID=mrmonkcjs@matthewmonk;Password=Matttm1021;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CustomContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)master-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>