@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 5</h1>
    <p class="lead">
        Below is an image that shows all the models and their relationships.  There is a One &rarr; Many relationship between <a href="../Students/">Students</a> and their courses.
        There is a button below each Student called <i style="color:#2A6496">One2Many</i> that will display all of the courses that the student is enrolled in.  There is a Many &rarr;
        Many relationship between Students and Assignments held together by Grades.  To view this relationship click <a href="../Students/ViewStudentGrades">Many2Many</a><br />
        <br />
        You can add to any of these models by clicking on the following links and then creating a new instance.<br />
        <a href="../Students/">Student</a><br />
        <a href="../Courses/">Courses</a><br />
        <a href="../Assignments/">Assignments</a><br />
        <a href="../Grades/">Grades</a><br />


    </p>
    <p></p>


</div>
<img src="~/Custom/Images/relationships.png" />
